mysql_default: &mysql_default
  adapter: mysql2
  encoding: utf8
  reconnect: false
  pool: 5
  username: ____
  password: '____'
  socket: /var/run/mysqld/mysqld.sock

# This is the environment that is going to be loaded in the rails-sharding gem
# test, and is also the set of shards that is created when you run
# `rake db:test:prepare`.
# (we test the gem simulating a rails app in development environment)
development:
  mysql_group:
    shard1:
      <<: *mysql_default
      database: mysqlgroup_shard1
    shard2:
      <<: *mysql_default
      database: mysqlgroup_shard2

# This environment is never loaded or created, it is just here for testing the
# configuration loading code
test:
  test_group:
    test_shard:
      database: test_shard
